
<nav class="nav">
    <div>
        <div class="d-md-flex justify-content-md-top">
            <button class="btn btn-primary me-md-2" type="button">menu</button>
          </div>
          <div class="d-md-flex justify-content-md-top">
            <button class="btn btn-primary me-md-2" type="button">Boton</button>
          </div>
          <div class="d-md-flex justify-content-md-top">
            <button class="btn btn-primary me-md-2" type="button">Boton</button>
          </div>
          <div class="d-md-flex justify-content-md-top">
            <button class="btn btn-primary me-md-2" type="button">Boton</button>
          </div>
          <div class="d-md-flex justify-content-md-top">
            <button class="btn btn-primary me-md-2" type="button">Boton</button>
          </div>
    </div>
    <div class="navb">
        <div class="d-flex">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">producto</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">acptar</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">producto</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">aceptar</a>
                </div>
              </div>
            </div>
          </div>
    </div>    
</nav>
  